q: repo%3Agolang%2Fgo+commenter%3Agopherbot+json+encoder
qq: https://api.github.com/search/issues?q=repo%3Agolang%2Fgo+commenter%3Agopherbot+json+encoder
<h1>66 issues</h1>
<table>
<tr style='text-align: left'>
<th>#</th>
<th>State</th>
<th>User</th>
<th>Title</th>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/7872'>7872</td>
<td>open</td>
<td><a href='https://github.com/extemporalgenome'>extemporalgenome</td>
<td><a href='https://github.com/golang/go/issues/7872'>encoding/json: Encoder internally buffers full output</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/5901'>5901</td>
<td>open</td>
<td><a href='https://github.com/rsc'>rsc</td>
<td><a href='https://github.com/golang/go/issues/5901'>encoding/json: allow per-Encoder/per-Decoder registration of marshal/unmarshal functions</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/33422'>33422</td>
<td>open</td>
<td><a href='https://github.com/rittneje'>rittneje</td>
<td><a href='https://github.com/golang/go/issues/33422'>encoding/json: marshaling RawMessage has poor performance</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/27735'>27735</td>
<td>open</td>
<td><a href='https://github.com/dsnet'>dsnet</td>
<td><a href='https://github.com/golang/go/issues/27735'>encoding/json: incorrect usage of sync.Pool</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/27589'>27589</td>
<td>open</td>
<td><a href='https://github.com/pjebs'>pjebs</td>
<td><a href='https://github.com/golang/go/issues/27589'>proposal: encoding/json: &#34;nonil&#34; struct tag to marshal nil slices and maps as non-null</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/11939'>11939</td>
<td>open</td>
<td><a href='https://github.com/joeshaw'>joeshaw</td>
<td><a href='https://github.com/golang/go/issues/11939'>proposal: encoding/json, encoding/xml: support zero values of structs with omitempty</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/35501'>35501</td>
<td>open</td>
<td><a href='https://github.com/ainar-g'>ainar-g</td>
<td><a href='https://github.com/golang/go/issues/35501'>encoding/json: tag `json:&#34;-&#34;` doesn&#39;t hide an embedded field</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/21399'>21399</td>
<td>open</td>
<td><a href='https://github.com/halfcrazy'>halfcrazy</td>
<td><a href='https://github.com/golang/go/issues/21399'>encoding/xml: cannot marshal self-closing tag</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/25153'>25153</td>
<td>open</td>
<td><a href='https://github.com/dominicbarnes'>dominicbarnes</td>
<td><a href='https://github.com/golang/go/issues/25153'>encoding/json: include property name for marshal errors</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/5819'>5819</td>
<td>open</td>
<td><a href='https://github.com/gopherbot'>gopherbot</td>
<td><a href='https://github.com/golang/go/issues/5819'>encoding/gob: encoder should ignore embedded structs with no exported fields</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/5161'>5161</td>
<td>open</td>
<td><a href='https://github.com/orofarne'>orofarne</td>
<td><a href='https://github.com/golang/go/issues/5161'>encoding/json: use the Error method to marshal an error value?</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/28923'>28923</td>
<td>open</td>
<td><a href='https://github.com/mvdan'>mvdan</td>
<td><a href='https://github.com/golang/go/issues/28923'>encoding/json: speed up the decoding scanner</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/14750'>14750</td>
<td>open</td>
<td><a href='https://github.com/cyberphone'>cyberphone</td>
<td><a href='https://github.com/golang/go/issues/14750'>encoding/json: parser ignores the case of member names</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/8717'>8717</td>
<td>open</td>
<td><a href='https://github.com/dvyukov'>dvyukov</td>
<td><a href='https://github.com/golang/go/issues/8717'>cmd/compile: random performance fluctuations after unrelated changes</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/32779'>32779</td>
<td>open</td>
<td><a href='https://github.com/rsc'>rsc</td>
<td><a href='https://github.com/golang/go/issues/32779'>encoding/json: memoize strings during decode</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/20206'>20206</td>
<td>open</td>
<td><a href='https://github.com/markdryan'>markdryan</td>
<td><a href='https://github.com/golang/go/issues/20206'>encoding/base64: encoding is slow</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/37237'>37237</td>
<td>open</td>
<td><a href='https://github.com/myitcv'>myitcv</td>
<td><a href='https://github.com/golang/go/issues/37237'>x/tools/gopls: support advanced query syntax for Symbol</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/49480'>49480</td>
<td>open</td>
<td><a href='https://github.com/quasilyte'>quasilyte</td>
<td><a href='https://github.com/golang/go/issues/49480'>cmd/compile,runtime: introduce growbyteslice?</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/19636'>19636</td>
<td>open</td>
<td><a href='https://github.com/josselin-c'>josselin-c</td>
<td><a href='https://github.com/golang/go/issues/19636'>encoding/base64: decoding is slow</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/25426'>25426</td>
<td>open</td>
<td><a href='https://github.com/josharian'>josharian</td>
<td><a href='https://github.com/golang/go/issues/25426'>cmd/compile: revisit statement boundaries CL peformance and binary size impact</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/38751'>38751</td>
<td>open</td>
<td><a href='https://github.com/dmitshur'>dmitshur</td>
<td><a href='https://github.com/golang/go/issues/38751'>x/playground: very large output is sometimes corrupted</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/35966'>35966</td>
<td>open</td>
<td><a href='https://github.com/geraldss'>geraldss</td>
<td><a href='https://github.com/golang/go/issues/35966'>proposal: Go 2: universal zero value with type inference</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/40592'>40592</td>
<td>closed</td>
<td><a href='https://github.com/mdempsky'>mdempsky</td>
<td><a href='https://github.com/golang/go/issues/40592'>reflect: add func (Value) UnsafePointer() unsafe.Pointer</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/48185'>48185</td>
<td>closed</td>
<td><a href='https://github.com/dsnet'>dsnet</td>
<td><a href='https://github.com/golang/go/issues/48185'>cmd/compile: internal compiler error instantiating generic type</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/4146'>4146</td>
<td>open</td>
<td><a href='https://github.com/bradfitz'>bradfitz</td>
<td><a href='https://github.com/golang/go/issues/4146'>reflect: MakeInterface</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/10769'>10769</td>
<td>closed</td>
<td><a href='https://github.com/bep'>bep</td>
<td><a href='https://github.com/golang/go/issues/10769'>encoding/json: detect circular data structures when encoding</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/48016'>48016</td>
<td>closed</td>
<td><a href='https://github.com/dsnet'>dsnet</td>
<td><a href='https://github.com/golang/go/issues/48016'>cmd/compile: internal compiler error using type parameters</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/37083'>37083</td>
<td>closed</td>
<td><a href='https://github.com/jpninanjohn'>jpninanjohn</td>
<td><a href='https://github.com/golang/go/issues/37083'>encoding/json: Encoder adds new line at the end of response which is different from how Marshal works </td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/pull/35320'>35320</td>
<td>closed</td>
<td><a href='https://github.com/qingyu31'>qingyu31</td>
<td><a href='https://github.com/golang/go/pull/35320'>encoding/json: prevent compact twice to improve precomputed performance.</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/34235'>34235</td>
<td>closed</td>
<td><a href='https://github.com/wI2L'>wI2L</td>
<td><a href='https://github.com/golang/go/issues/34235'>encoding/json: marshaling a zero value encoding.TextMarshaler interface struct field panics</td>
</tr>

</table>
