q: repo%3Agolang%2Fgo+3133+10535
qq: https://api.github.com/search/issues?q=repo%3Agolang%2Fgo+3133+10535
<h1>3 issues</h1>
<table>
<tr style='text-align: left'>
<th>#</th>
<th>State</th>
<th>User</th>
<th>Title</th>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/3133'>3133</td>
<td>closed</td>
<td><a href='https://github.com/ukai'>ukai</td>
<td><a href='https://github.com/golang/go/issues/3133'>html/template: escape xmldesc as &amp;lt;?xml</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/10535'>10535</td>
<td>open</td>
<td><a href='https://github.com/dvyukov'>dvyukov</td>
<td><a href='https://github.com/golang/go/issues/10535'>x/net/html: void element &lt;link&gt; has child nodes</td>
</tr>

<tr>
<td><a href='https://github.com/golang/go/issues/47148'>47148</td>
<td>closed</td>
<td><a href='https://github.com/dmitshur'>dmitshur</td>
<td><a href='https://github.com/golang/go/issues/47148'>all: Go 1.15.14 release status</td>
</tr>

</table>
